Repository ammujacic/podex: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-format, ruff-api, ruff-agent, ruff-compute, ruff-shared, ruff-local-pod, ruff-format-api, ruff-format-agent, ruff-format-compute, ruff-format-shared, ruff-format-local-pod, mypy-api, mypy-agent, mypy-compute, mypy-shared, mypy-local-pod

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: pnpm lint
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Check
  entry: pnpm typecheck
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Format (Prettier)
  entry: pnpm format
  language: system
  pass_filenames: false

ruff-api:
  name: Ruff Lint (api)
  entry: bash -c 'cd services/api && uv run ruff check src/'
  language: system
  pass_filenames: false

ruff-agent:
  name: Ruff Lint (agent)
  entry: bash -c 'cd services/agent && uv run ruff check src/'
  language: system
  pass_filenames: false

ruff-compute:
  name: Ruff Lint (compute)
  entry: bash -c 'cd services/compute && uv run ruff check src/'
  language: system
  pass_filenames: false

ruff-shared:
  name: Ruff Lint (shared)
  entry: bash -c 'cd services/shared && uv run ruff check src/'
  language: system
  pass_filenames: false

ruff-local-pod:
  name: Ruff Lint (local-pod)
  entry: bash -c 'cd services/local-pod && uv run ruff check src/'
  language: system
  pass_filenames: false

ruff-format-api:
  name: Ruff Format (api)
  entry: bash -c 'cd services/api && uv run ruff format src/'
  language: system
  pass_filenames: false

ruff-format-agent:
  name: Ruff Format (agent)
  entry: bash -c 'cd services/agent && uv run ruff format src/'
  language: system
  pass_filenames: false

ruff-format-compute:
  name: Ruff Format (compute)
  entry: bash -c 'cd services/compute && uv run ruff format src/'
  language: system
  pass_filenames: false

ruff-format-shared:
  name: Ruff Format (shared)
  entry: bash -c 'cd services/shared && uv run ruff format src/'
  language: system
  pass_filenames: false

ruff-format-local-pod:
  name: Ruff Format (local-pod)
  entry: bash -c 'cd services/local-pod && uv run ruff format src/'
  language: system
  pass_filenames: false

mypy-api:
  name: mypy (api)
  entry: bash -c 'cd services/api && uv run mypy src/'
  language: system
  pass_filenames: false

mypy-agent:
  name: mypy (agent)
  entry: bash -c 'cd services/agent && uv run mypy src/'
  language: system
  pass_filenames: false

mypy-compute:
  name: mypy (compute)
  entry: bash -c 'cd services/compute && uv run mypy src/'
  language: system
  pass_filenames: false

mypy-shared:
  name: mypy (shared)
  entry: bash -c 'cd services/shared && uv run mypy src/'
  language: system
  pass_filenames: false

mypy-local-pod:
  name: mypy (local-pod)
  entry: bash -c 'cd services/local-pod && uv run mypy src/'
  language: system
  pass_filenames: false

Fix CLI tests by running vitest directly instead of through turbo
  .github/workflows/ci.yml
  apps/cli/__tests__/globalSetup.ts
Due: frontend-lint, frontend-format

Revert vitest config changes - keep only CI fix
  apps/cli/__tests__/setup.ts
  apps/cli/vitest.config.ts
Due: frontend-lint, frontend-typecheck, frontend-format

Fix migration 10 revision IDs to use numeric format
  services/api/migrations/versions/10_drop_user_hooks_table.py
Due: ruff-api, ruff-format-api, mypy-api

Fix migration 8 to use jsonb syntax for highlight_features
  services/api/migrations/versions/8_update_plan_features.py
Due: ruff-api, ruff-format-api, mypy-api

Fix migration 12 to use jsonb syntax for highlight_features
  services/api/migrations/versions/12_add_ultra_plan.py
Due: ruff-api, ruff-format-api, mypy-api

Fix migration 12 to use jsonb syntax for session_timeout_options
  services/api/migrations/versions/12_add_ultra_plan.py
Due: ruff-api, ruff-format-api, mypy-api

Fix migration 12 to generate UUID for id column
  services/api/migrations/versions/12_add_ultra_plan.py
Due: ruff-api, ruff-format-api, mypy-api

Update Podex logo from Px to P{x} with curly braces
  apps/vscode/resources/icons/podex.svg
  apps/web/public/icons/apple-touch-icon.png
  apps/web/public/icons/icon-192.png
  apps/web/public/icons/icon-512.png
  apps/web/public/icons/icon-maskable-192.png
  apps/web/public/icons/icon-maskable-512.png
  apps/web/scripts/generate-icons.mjs
  apps/web/src/app/apple-icon.svg
  apps/web/src/app/icon.svg
Due: none

Fix migration 12 to include overage rate columns
  services/api/migrations/versions/12_add_ultra_plan.py
Due: ruff-api, ruff-format-api, mypy-api

Update PodexIcon component with P{x} curly braces design
  apps/web/src/components/icons/PodexIcon.tsx
Due: frontend-lint, frontend-typecheck, frontend-format

Simplify favicon to just P, keep P{x} for larger icons
  apps/web/public/icons/icon-192.png
  apps/web/public/icons/icon-maskable-192.png
  apps/web/scripts/generate-icons.mjs
  apps/web/src/app/icon.svg
Due: none

Make migrations 5, 7, 9 idempotent for state mismatch recovery
  services/api/migrations/versions/5_add_compute_service_url.py
  services/api/migrations/versions/7_add_workspace_image_fields.py
  services/api/migrations/versions/9_add_user_deleted_at.py
Due: ruff-api, ruff-format-api, mypy-api

Fix the Icon
  apps/web/src/components/icons/PodexIcon.tsx
Due: frontend-lint, frontend-typecheck, frontend-format

Fix bugs
  services/api/src/routes/servers.py
  services/compute/Dockerfile
  services/compute/src/deps.py
  services/compute/src/managers/heartbeat.py
  services/compute/src/utils/__init__.py
  services/compute/src/utils/task_lock.py
Due: ruff-api, ruff-compute, ruff-format-api, ruff-format-compute, mypy-api, mypy-compute

Fix workspace creation + git
  Makefile
  apps/web/src/components/workspace/AgentCardHeader.tsx
  apps/web/src/components/workspace/TerminalInstance.tsx
  apps/web/src/components/workspace/modals/WorkspaceScalingModal.tsx
  apps/web/src/lib/api.ts
  apps/web/src/lib/collaboration.ts
  apps/web/src/lib/socket.ts
  docker-compose.test.yml
  docker/workspace/entrypoint.sh
  services/agent/src/config.py
  services/agent/tests/test_config.py
  services/api/migrations/versions/13_cleanup_seed_data.py
  services/api/src/cost/alert_manager.py
  services/api/src/cost/realtime_tracker.py
  services/api/src/database/seeds/models.py
  services/api/src/main.py
  services/api/src/routes/billing.py
  services/api/src/routes/org_billing.py
  services/api/src/routes/workspaces.py
  services/api/src/services/local_pod_usage_tracker.py
  services/api/src/services/pricing.py
  services/api/src/services/workspace_router.py
  services/api/src/session_sync/manager.py
  services/api/src/streaming/subscriber.py
  services/api/src/terminal/manager.py
  services/api/src/websocket/hub.py
  services/api/src/websocket/local_pod_hub.py
  services/api/tests/test_websocket_hub.py
  services/api/tests/unit/services/test_local_pod_usage_tracker.py
  services/api/tests/unit/services/test_pricing.py
  services/api/tests/unit/streaming/test_subscriber.py
  services/compute/coverage.xml
  services/compute/src/main.py
  services/compute/src/managers/multi_server_compute_manager.py
  services/compute/src/managers/multi_server_docker.py
  services/compute/src/managers/workspace_orchestrator.py
  services/compute/src/routes/terminal.py
  services/compute/src/routes/workspaces.py
  services/compute/src/utils/task_lock.py
Due: frontend-lint, frontend-typecheck, frontend-format, ruff-api, ruff-agent, ruff-compute, ruff-format-api, ruff-format-agent, ruff-format-compute, mypy-api, mypy-agent, mypy-compute

Fix routes for auth
  services/api/src/routes/auth.py
Due: ruff-api, ruff-format-api, mypy-api

More Hub/Socket fixes
  .env.example
  Makefile
  apps/web/src/components/workspace/MobileSessionOverview.tsx
  docker-compose.test.yml
  docker-compose.yml
  services/agent/tests/test_config.py
  services/api/src/config.py
  services/api/src/routes/doctor.py
  services/api/src/routes/servers.py
  services/api/src/websocket/hub.py
  services/api/tests/test_config_api.py
Due: frontend-lint, frontend-typecheck, frontend-format, ruff-api, ruff-agent, ruff-format-api, ruff-format-agent, mypy-api, mypy-agent

Try polling first
  apps/web/src/lib/socket.ts
Due: frontend-lint, frontend-typecheck, frontend-format

Next socket try
  apps/web/src/lib/api.ts
  apps/web/src/lib/socket.ts
  services/api/src/routes/auth.py
  services/api/src/websocket/hub.py
Due: frontend-lint, frontend-typecheck, frontend-format, ruff-api, ruff-format-api, mypy-api

Fix terminal
  services/api/src/websocket/hub.py
Due: ruff-api, ruff-format-api, mypy-api

Fix sockets for terminals
  apps/web/src/components/icons/PodexIcon.tsx
  apps/web/src/components/workspace/TerminalInstance.tsx
Due: frontend-lint, frontend-typecheck, frontend-format

Fix SSL Socket
  services/compute/src/routes/terminal.py
Due: ruff-compute, ruff-format-compute, mypy-compute

Few more fixes
  apps/web/package.json
  apps/web/src/components/workspace/AgentsPanel.tsx
  apps/web/src/components/workspace/MarkdownRenderer.tsx
  apps/web/src/components/workspace/SplitTerminalLayout.tsx
  apps/web/src/components/workspace/TerminalInstance.tsx
  apps/web/src/components/workspace/TerminalPanel.tsx
  apps/web/src/hooks/__tests__/useWorkspaceKeybindingCommands.test.ts
  apps/web/src/hooks/useWorkspaceKeybindingCommands.ts
  apps/web/src/stores/__tests__/terminal.test.ts
  apps/web/src/stores/terminal.ts
  pnpm-lock.yaml
  services/agent/src/providers/llm.py
  services/api/src/terminal/manager.py
Due: frontend-lint, frontend-typecheck, frontend-format, ruff-api, ruff-agent, ruff-format-api, ruff-format-agent, mypy-api, mypy-agent

Fix frontend
  apps/web/src/__tests__/components/model-selector/ModelSelector.test.tsx
  apps/web/src/components/model-selector/ModelSelector.tsx
  apps/web/src/lib/__tests__/socket.test.ts
Due: frontend-lint, frontend-typecheck, frontend-format

Terminal rework
  apps/web/src/components/workspace/AgentGrid.tsx
  apps/web/src/components/workspace/AgentMessageList.tsx
  apps/web/src/components/workspace/AgentsPanel.tsx
  apps/web/src/components/workspace/ResizableTerminalGridCard.tsx
  apps/web/src/components/workspace/TerminalCard.tsx
  apps/web/src/components/workspace/TerminalInstance.tsx
  apps/web/src/components/workspace/TerminalPanel.tsx
  apps/web/src/components/workspace/TerminalView.tsx
  apps/web/src/components/workspace/WorkspaceLayout.tsx
  apps/web/src/components/workspace/index.ts
  apps/web/src/contexts/TerminalManager.tsx
  apps/web/src/hooks/__tests__/useWorkspaceKeybindingCommands.test.ts
  apps/web/src/hooks/useWorkspaceKeybindingCommands.ts
  apps/web/src/stores/session.ts
  apps/web/src/stores/sessionTypes.ts
  apps/web/src/stores/ui.ts
  services/agent/src/database/conversation.py
Due: frontend-lint, frontend-typecheck, frontend-format, ruff-agent, ruff-format-agent, mypy-agent

Terminal rework
  apps/web/Dockerfile
  apps/web/src/components/workspace/AgentsPanel.tsx
  apps/web/src/components/workspace/TerminalPanel.tsx
  apps/web/src/contexts/TerminalManager.tsx
  services/api/src/websocket/hub.py
Due: frontend-lint, frontend-typecheck, frontend-format, ruff-api, ruff-format-api, mypy-api

Fixes
  apps/vscode/eslint.config.mjs
  apps/vscode/src/__tests__/extension.test.ts
  apps/vscode/src/adapters/__tests__/vscode-auth-provider.test.ts
  apps/web/src/components/git/AgentDiffReview.tsx
  apps/web/src/components/git/BlameView.tsx
  apps/web/src/components/git/BranchManager.tsx
  apps/web/src/components/git/MergeConflictEditor.tsx
  apps/web/src/components/git/PRPanel.tsx
  apps/web/src/components/git/index.ts
  apps/web/src/components/settings/MFASetupModal.tsx
  apps/web/src/components/workspace/modals/CreateAgentModal.tsx
  apps/web/src/components/workspace/modals/agentConstants.ts
  services/api/pyproject.toml
  services/api/src/main.py
  services/api/src/routes/auth.py
  services/api/src/routes/billing.py
  services/api/src/routes/changes.py
  services/api/src/routes/org_billing.py
  services/api/src/routes/plans.py
  services/api/src/routes/user_config.py
  services/api/src/routes/worktrees.py
  services/api/tests/conftest.py
  services/api/tests/integration/conftest.py
Due: frontend-lint, frontend-typecheck, frontend-format, ruff-api, ruff-format-api, mypy-api

Fix tests
  services/api/src/routes/auth.py
  services/api/src/routes/org_billing.py
  services/api/tests/integration/test_auth_routes_integration.py
  services/api/tests/integration/test_org_billing_routes.py
  services/api/tests/integration/test_servers_routes.py
Due: ruff-api, ruff-format-api, mypy-api

More tests
  services/api/tests/integration/test_billing_routes.py
  services/api/tests/integration/test_mfa_routes.py
  services/api/tests/integration/test_organizations_routes.py
  services/api/tests/integration/test_plans_routes.py
  services/api/tests/integration/test_user_config_routes.py
  services/api/tests/integration/test_workspaces_routes.py
  services/api/tests/unit/routes/test_plans.py
Due: ruff-api, ruff-format-api, mypy-api

Coverage
  .github/workflows/ci.yml
  services/api/tests/integration/conftest.py
  services/api/tests/integration/test_sessions_routes.py
Due: ruff-api, ruff-format-api, mypy-api

Fix frontend coverage reports
  apps/cli/vitest.config.ts
  apps/vscode/vitest.config.ts
  apps/web/vitest.config.ts
  packages/api-client/vitest.config.ts
  packages/local-pod-discovery/vitest.config.ts
  packages/shared/vitest.config.ts
  packages/state/vitest.config.ts
  packages/ui/vitest.config.ts
Due: frontend-lint, frontend-typecheck, frontend-format

Fix failing tests
  apps/web/src/stores/__tests__/sentry.test.ts
Due: frontend-lint, frontend-format

Fix .gitleaks
  .gitleaks.toml
Due: none

Path conditions:
  frontend-lint: any of: \.(js|jsx|ts|tsx)$
  frontend-typecheck: any of: \.(ts|tsx)$, but not: (__tests__|\.test\.|\.spec\.)
  frontend-format: any of: \.(js|jsx|ts|tsx|json|md)$
  ruff-api: any of: ^services/api/ and \.py$
  ruff-agent: any of: ^services/agent/ and \.py$
  ruff-compute: any of: ^services/compute/ and \.py$
  ruff-shared: any of: ^services/shared/ and \.py$
  ruff-local-pod: any of: ^services/local-pod/ and \.py$
  ruff-format-api: any of: ^services/api/ and \.py$
  ruff-format-agent: any of: ^services/agent/ and \.py$
  ruff-format-compute: any of: ^services/compute/ and \.py$
  ruff-format-shared: any of: ^services/shared/ and \.py$
  ruff-format-local-pod: any of: ^services/local-pod/ and \.py$
  mypy-api: any of: ^services/api/ and \.py$
  mypy-agent: any of: ^services/agent/ and \.py$
  mypy-compute: any of: ^services/compute/ and \.py$
  mypy-shared: any of: ^services/shared/ and \.py$
  mypy-local-pod: any of: ^services/local-pod/ and \.py$
