Repository ammujacic/podex: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-format, ruff-api, ruff-agent, ruff-compute, ruff-shared, ruff-local-pod, ruff-format-api, ruff-format-agent, ruff-format-compute, ruff-format-shared, ruff-format-local-pod, mypy-api, mypy-agent, mypy-compute, mypy-shared, mypy-local-pod

Path conditions:
  frontend-lint: any of: \.(js|jsx|ts|tsx)$
  frontend-typecheck: any of: \.(ts|tsx)$, but not: (__tests__|\.test\.|\.spec\.)
  frontend-format: any of: \.(js|jsx|ts|tsx|json|md)$
  ruff-api: any of: ^services/api/ and \.py$
  ruff-agent: any of: ^services/agent/ and \.py$
  ruff-compute: any of: ^services/compute/ and \.py$
  ruff-shared: any of: ^services/shared/ and \.py$
  ruff-local-pod: any of: ^services/local-pod/ and \.py$
  ruff-format-api: any of: ^services/api/ and \.py$
  ruff-format-agent: any of: ^services/agent/ and \.py$
  ruff-format-compute: any of: ^services/compute/ and \.py$
  ruff-format-shared: any of: ^services/shared/ and \.py$
  ruff-format-local-pod: any of: ^services/local-pod/ and \.py$
  mypy-api: any of: ^services/api/ and \.py$
  mypy-agent: any of: ^services/agent/ and \.py$
  mypy-compute: any of: ^services/compute/ and \.py$
  mypy-shared: any of: ^services/shared/ and \.py$
  mypy-local-pod: any of: ^services/local-pod/ and \.py$

Fix loki
  docker/monitoring/docker-compose.yml
  docker/monitoring/loki/Dockerfile
Due: none

Next try
  docker/monitoring/docker-compose.yml
  docker/monitoring/loki/Dockerfile
Due: none

Fix promtail
  docker/monitoring/promtail/Dockerfile
Due: none

More fixes
  apps/web/src/app/admin/management/servers/page.tsx
  apps/web/src/stores/admin.ts
  docker-compose.yml
  docker/monitoring/docker-compose.yml
  scripts/hetzner/workspace-server-init.sh
  services/api/migrations/versions/1_add_workspace_server_tls_fields.py
  services/api/src/database/models/server.py
  services/api/src/database/seeds/workspace_servers.py
  services/api/src/routes/servers.py
  services/api/tests/test_config_api.py
  services/compute/src/config.py
  services/compute/src/deps.py
  services/compute/src/managers/multi_server_docker.py
  services/compute/tests/test_config.py
Due: frontend-lint, frontend-typecheck, frontend-format, ruff-api, ruff-compute, ruff-format-api, ruff-format-compute, mypy-api, mypy-compute

Fix server auth, add auth tests, simplify + refactor tokens
  .env.example
  apps/web/src/__tests__/components/model-selector/useOllamaModels.test.ts
  apps/web/src/app/admin/management/servers/page.tsx
  apps/web/src/stores/admin.ts
  docker-compose.test.yml
  docker-compose.yml
  docker/monitoring/docker-compose.yml
  services/agent/src/compute_client.py
  services/agent/src/config.py
  services/api/src/compute_client.py
  services/api/src/config.py
  services/api/src/routes/doctor.py
  services/api/src/routes/preview.py
  services/api/src/routes/servers.py
  services/api/src/terminal/manager.py
  services/api/tests/test_config_api.py
  services/compute/pyproject.toml
  services/compute/src/config.py
  services/compute/src/deps.py
  services/compute/src/main.py
  services/compute/src/managers/multi_server_docker.py
  services/compute/src/routes/__init__.py
  services/compute/src/routes/preview.py
  services/compute/src/routes/servers.py
  services/compute/src/routes/terminal.py
  services/compute/src/routes/websocket_proxy.py
  services/compute/tests/conftest.py
  services/compute/tests/test_deps.py
  services/compute/tests/test_tunnels.py
  services/compute/uv.lock
  services/shared/src/podex_shared/auth/service_auth.py
Due: frontend-lint, frontend-typecheck, frontend-format, ruff-api, ruff-agent, ruff-compute, ruff-shared, ruff-format-api, ruff-format-agent, ruff-format-compute, ruff-format-shared, mypy-api, mypy-agent, mypy-compute, mypy-shared

Fix SSL config, loki/prometheus
  docker/monitoring/docker-compose.yml
  docker/monitoring/prometheus/alerts.yml
  docker/monitoring/prometheus/prometheus.yml
  services/compute/src/managers/multi_server_docker.py
  services/compute/src/routes/servers.py
Due: ruff-compute, ruff-format-compute, mypy-compute

Fix TLSConfig type errors and remove deprecated ssl_version parameter
  services/compute/src/routes/servers.py
Due: ruff-compute, ruff-format-compute, mypy-compute

Fix TLS validation and add debug logging for server sync
  services/compute/src/deps.py
  services/compute/src/managers/multi_server_docker.py
Due: ruff-compute, ruff-format-compute, mypy-compute

Add server config view and edit functionality to admin panel
  apps/web/src/app/admin/management/servers/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-format

Add info-level logging for server TLS config sync
  docker-compose.yml
  services/compute/src/deps.py
Due: ruff-compute, ruff-format-compute, mypy-compute

Add VSCode extension design document
  docs/plans/2026-01-31-vscode-extension-design.md
Due: frontend-format

More fixes
  docs/plans/2026-01-31-cli-coding-assistant-design.md
  services/agent/pyproject.toml
  services/agent/uv.lock
  services/api/pyproject.toml
  services/api/uv.lock
  services/compute/pyproject.toml
  services/compute/uv.lock
  services/local-pod/pyproject.toml
  services/local-pod/uv.lock
  services/shared/pyproject.toml
  services/shared/src/podex_shared/redis_client.py
  services/shared/tests/conftest.py
  services/shared/uv.lock
Due: frontend-format, ruff-shared, ruff-format-shared, mypy-shared

Fixes
  .github/workflows/pypi.yml
  Makefile
  docker-compose.test.yml
  docker-compose.yml
  docs/plans/2026-01-31-pod-card-controls-design.md
  docs/plans/2026-01-31-terminal-as-window-design.md
  services/agent/src/main.py
  services/agent/src/mode_detection/intent_detector.py
  services/agent/src/providers/registry.py
  services/api/Dockerfile
  services/api/pyproject.toml
  services/api/src/audit_logger.py
  services/api/src/config.py
  services/api/src/cost/alert_manager.py
  services/api/src/cost/realtime_tracker.py
  services/api/src/github_client.py
  services/api/src/main.py
  services/api/src/routes/voice.py
  services/api/uv.lock
  services/compute/src/main.py
  services/compute/src/managers/multi_server_docker.py
  services/local-pod/pyproject.toml
  services/local-pod/src/podex_local_pod/main.py
  services/local-pod/uv.lock
  services/shared/src/podex_shared/__init__.py
  services/shared/src/podex_shared/sentry.py
Due: frontend-format, ruff-api, ruff-agent, ruff-compute, ruff-shared, ruff-local-pod, ruff-format-api, ruff-format-agent, ruff-format-compute, ruff-format-shared, ruff-format-local-pod, mypy-api, mypy-agent, mypy-compute, mypy-shared, mypy-local-pod

Fix tests
  .github/workflows/ci.yml
  packages/api-client/src/socket/client.ts
  packages/api-client/src/socket/index.ts
  packages/api-client/src/socket/types.ts
  packages/local-pod-discovery/eslint.config.js
  packages/local-pod-discovery/package.json
  packages/local-pod-discovery/src/discovery.test.ts
  packages/local-pod-discovery/src/discovery.ts
  packages/local-pod-discovery/src/index.ts
  packages/local-pod-discovery/tsconfig.json
  packages/local-pod-discovery/vitest.config.ts
  packages/state/src/index.ts
  packages/state/src/stores/index.ts
  packages/state/src/stores/session.ts
  packages/state/src/types/index.ts
  packages/state/src/types/session.ts
  pnpm-lock.yaml
  services/local-pod/tests/test_main.py
Due: frontend-lint, frontend-typecheck, frontend-format, ruff-local-pod, ruff-format-local-pod, mypy-local-pod

Fix images
  apps/web/src/components/pods/PodCard.tsx
Due: frontend-lint, frontend-typecheck, frontend-format

Fix logs
  docker/monitoring/grafana/provisioning/dashboards/podex-logs.json
  docker/monitoring/promtail/promtail-config.yml
Due: frontend-format

Fix logs dashboard
  docker/monitoring/grafana/provisioning/dashboards/podex-logs.json
  services/local-pod/Dockerfile
  services/local-pod/README.md
Due: frontend-format

Add missing datasource
  docker/monitoring/grafana/provisioning/datasources/datasources.yml
Due: none

Fix logs
  docker/monitoring/grafana/provisioning/dashboards/podex-logs.json
Due: frontend-format

Fix CLI react upgrade
  apps/cli/package.json
  apps/cli/src/app/__tests__/InteractiveMode.test.tsx
  package.json
  pnpm-lock.yaml
Due: frontend-lint, frontend-format

Fix CLI react upgrade
  .github/workflows/ci.yml
  services/api/pyproject.toml
Due: none

Fix CLI react upgrade
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: frontend-format

Fix CLI react upgrade
  apps/cli/package.json
  pnpm-lock.yaml
Due: frontend-format

Fix CLI react upgrade
  services/api/src/middleware/auth.py
  services/api/tests/test_middleware_auth.py
  services/api/uv.lock
Due: ruff-api, ruff-format-api, mypy-api

Fix: Skip create_all in production to avoid DuplicateTableError
  services/api/src/database/connection.py
Due: ruff-api, ruff-format-api, mypy-api

Fix: Make migration 4 idempotent to handle existing tables
  services/api/migrations/versions/4_add_device_sessions.py
Due: ruff-api, ruff-format-api, mypy-api

Fix CLI unit tests coverage race condition
  apps/cli/__tests__/globalSetup.ts
  apps/cli/__tests__/setup.ts
  apps/cli/vitest.config.ts
Due: frontend-lint, frontend-typecheck, frontend-format

Update Podex icons and branding assets
  apps/vscode/resources/icons/podex.svg
  apps/web/public/icons/apple-touch-icon.png
  apps/web/public/icons/icon-192.png
  apps/web/public/icons/icon-512.png
  apps/web/public/icons/icon-maskable-192.png
  apps/web/public/icons/icon-maskable-512.png
  apps/web/scripts/generate-icons.mjs
  apps/web/src/app/apple-icon.svg
  apps/web/src/app/icon.svg
  apps/web/src/components/icons/PodexIcon.tsx
Due: frontend-lint, frontend-typecheck, frontend-format

Fix CLI coverage temp directory in CI
  .github/workflows/ci.yml
Due: none

Fix v8 coverage race condition by disabling file parallelism
  apps/cli/vitest.config.ts
Due: frontend-lint, frontend-typecheck, frontend-format

Add clean: false to prevent vitest deleting coverage/.tmp
  apps/cli/vitest.config.ts
Due: frontend-lint, frontend-typecheck, frontend-format

Add Docker build tests for compute, web, and monitoring
  .github/workflows/ci.yml
Due: none
