Repository ammujacic/podex: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-format, ruff-api, ruff-agent, ruff-compute, ruff-shared, ruff-local-pod, ruff-format-api, ruff-format-agent, ruff-format-compute, ruff-format-shared, ruff-format-local-pod, mypy-api, mypy-agent, mypy-compute, mypy-shared, mypy-local-pod

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: pnpm lint
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Check
  entry: pnpm typecheck
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Format (Prettier)
  entry: pnpm format
  language: system
  pass_filenames: false

ruff-api:
  name: Ruff Lint (api)
  entry: bash -c 'cd services/api && uv run ruff check src/'
  language: system
  pass_filenames: false

ruff-agent:
  name: Ruff Lint (agent)
  entry: bash -c 'cd services/agent && uv run ruff check src/'
  language: system
  pass_filenames: false

ruff-compute:
  name: Ruff Lint (compute)
  entry: bash -c 'cd services/compute && uv run ruff check src/'
  language: system
  pass_filenames: false

ruff-shared:
  name: Ruff Lint (shared)
  entry: bash -c 'cd services/shared && uv run ruff check src/'
  language: system
  pass_filenames: false

ruff-local-pod:
  name: Ruff Lint (local-pod)
  entry: bash -c 'cd services/local-pod && uv run ruff check src/'
  language: system
  pass_filenames: false

ruff-format-api:
  name: Ruff Format (api)
  entry: bash -c 'cd services/api && uv run ruff format src/'
  language: system
  pass_filenames: false

ruff-format-agent:
  name: Ruff Format (agent)
  entry: bash -c 'cd services/agent && uv run ruff format src/'
  language: system
  pass_filenames: false

ruff-format-compute:
  name: Ruff Format (compute)
  entry: bash -c 'cd services/compute && uv run ruff format src/'
  language: system
  pass_filenames: false

ruff-format-shared:
  name: Ruff Format (shared)
  entry: bash -c 'cd services/shared && uv run ruff format src/'
  language: system
  pass_filenames: false

ruff-format-local-pod:
  name: Ruff Format (local-pod)
  entry: bash -c 'cd services/local-pod && uv run ruff format src/'
  language: system
  pass_filenames: false

mypy-api:
  name: mypy (api)
  entry: bash -c 'cd services/api && uv run mypy src/'
  language: system
  pass_filenames: false

mypy-agent:
  name: mypy (agent)
  entry: bash -c 'cd services/agent && uv run mypy src/'
  language: system
  pass_filenames: false

mypy-compute:
  name: mypy (compute)
  entry: bash -c 'cd services/compute && uv run mypy src/'
  language: system
  pass_filenames: false

mypy-shared:
  name: mypy (shared)
  entry: bash -c 'cd services/shared && uv run mypy src/'
  language: system
  pass_filenames: false

mypy-local-pod:
  name: mypy (local-pod)
  entry: bash -c 'cd services/local-pod && uv run mypy src/'
  language: system
  pass_filenames: false

feat(workspace): install cloudflared in Docker workspace image
  docker/workspace/Dockerfile
Due: none

feat(compute): add tunnel request/response models
  services/compute/src/models/tunnel.py
Due: ruff-compute, ruff-format-compute, mypy-compute

Fixeees
  services/api/src/database/models/core.py
  services/api/src/database/models/server.py
  services/api/src/database/seeds/workspace_servers.py
Due: ruff-api, ruff-format-api, mypy-api

Fix tests
  apps/web/src/__tests__/components/model-selector/ModelCard.test.tsx
  apps/web/src/__tests__/components/model-selector/ModelFilters.test.tsx
  apps/web/src/__tests__/components/model-selector/ModelList.test.tsx
  apps/web/src/__tests__/components/model-selector/ModelSearch.test.tsx
  apps/web/src/__tests__/components/model-selector/ModelSelector.test.tsx
  apps/web/src/__tests__/components/model-selector/useOllamaModels.test.ts
  services/agent/tests/test_base_agent_unit.py
  services/api/src/routes/servers.py
  services/compute/tests/test_tunnels.py
Due: frontend-lint, frontend-format, ruff-api, ruff-agent, ruff-compute, ruff-format-api, ruff-format-agent, ruff-format-compute, mypy-api, mypy-agent, mypy-compute

Fix race condition in useOllamaModels test
  apps/web/src/__tests__/components/model-selector/useOllamaModels.test.ts
Due: frontend-lint, frontend-format

Fix failing constants tests by removing tests for non-existent constants
  packages/shared/src/__tests__/constants.test.ts
Due: frontend-lint, frontend-format

Fix failing CI tests across compute and agent services
  apps/web/src/components/coming-soon/ComingSoonPage.tsx
  apps/web/src/components/coming-soon/HeroSection.tsx
  apps/web/src/components/coming-soon/SneakPeekSection.tsx
  docker-compose.yml
  services/agent/tests/test_deps.py
  services/agent/tests/test_llm_provider_comprehensive.py
  services/compute/src/managers/multi_server_docker.py
  services/compute/src/managers/workspace_orchestrator.py
  services/compute/tests/test_deps.py
  services/compute/tests/test_health.py
Due: frontend-lint, frontend-typecheck, frontend-format, ruff-agent, ruff-compute, ruff-format-agent, ruff-format-compute, mypy-agent, mypy-compute

More fixes
  apps/web/src/components/coming-soon/ComingSoonPage.tsx
  apps/web/src/components/coming-soon/HeroSection.tsx
  apps/web/src/components/coming-soon/WaitlistForm.tsx
  services/api/src/middleware/auth.py
Due: frontend-lint, frontend-typecheck, frontend-format, ruff-api, ruff-format-api, mypy-api

More fixes
  .env.example
  apps/web/src/app/admin/management/waitlist/page.tsx
  apps/web/src/app/session/new/page.tsx
  apps/web/src/components/workspace/AgentCard.tsx
  apps/web/src/components/workspace/AgentsPanel.tsx
  apps/web/src/components/workspace/MobileAgentToolbar.tsx
  apps/web/src/components/workspace/OpenClawWidget.tsx
  docker-compose.test.yml
  services/agent/src/agents/base.py
  services/agent/src/providers/llm.py
  services/agent/src/providers/registry.py
  services/agent/tests/test_provider_registry.py
  services/api/src/database/seeds/models.py
  services/api/src/routes/completion.py
  services/api/src/routes/doctor.py
Due: frontend-lint, frontend-typecheck, frontend-format, ruff-api, ruff-agent, ruff-format-api, ruff-format-agent, mypy-api, mypy-agent

Remove LLM_PROVIDER config and use database as source of truth for providers
  .env.example
  .github/workflows/ci.yml
  Makefile
  docker-compose.test.yml
  docker-compose.yml
  services/agent/src/config.py
  services/agent/tests/test_base_agent_unit.py
  services/agent/tests/test_config.py
  services/agent/tests/test_llm_provider.py
  services/agent/tests/test_llm_provider_comprehensive.py
  services/api/src/config.py
  services/api/src/database/seeds/providers.py
  services/api/src/routes/completion.py
  services/api/src/routes/user_config.py
Due: ruff-api, ruff-agent, ruff-format-api, ruff-format-agent, mypy-api, mypy-agent

Fix production Docker builds for Coolify deployment
  apps/web/Dockerfile
  services/agent/pyproject.toml
  services/api/pyproject.toml
  services/compute/pyproject.toml
Due: none

Remove auth requirement from agent health endpoint
  services/agent/src/routes/health.py
  services/agent/uv.lock
Due: ruff-agent, ruff-format-agent, mypy-agent

Add robust CORS origins parsing for compute service
  services/compute/src/config.py
  services/compute/uv.lock
Due: ruff-compute, ruff-format-compute, mypy-compute

Fix uptime-kuma image version in monitoring stack
  docker/monitoring/docker-compose.yml
Due: none

Increase healthcheck start-period for production Dockerfiles
  services/agent/Dockerfile
  services/api/Dockerfile
  services/compute/Dockerfile
Due: none

Fix CORS origins parsing by using string field + property pattern
  services/compute/src/config.py
Due: ruff-compute, ruff-format-compute, mypy-compute

Remove external coolify network from monitoring stack
  docker/monitoring/docker-compose.yml
Due: none

Add Docker service discovery for Prometheus
  docker/monitoring/docker-compose.yml
  docker/monitoring/prometheus/prometheus.yml
Due: none

Add Prometheus metrics instrumentation to all Python services
  docker/monitoring/promtail/promtail-config.yml
  services/agent/Dockerfile
  services/agent/pyproject.toml
  services/agent/src/main.py
  services/agent/uv.lock
  services/api/Dockerfile
  services/api/pyproject.toml
  services/api/src/main.py
  services/api/uv.lock
  services/compute/Dockerfile
  services/compute/pyproject.toml
  services/compute/src/main.py
  services/compute/uv.lock
Due: ruff-api, ruff-agent, ruff-compute, ruff-format-api, ruff-format-agent, ruff-format-compute, mypy-api, mypy-agent, mypy-compute

Simplify monitoring stack for Coolify compatibility
  docker/monitoring/docker-compose.yml
Due: none

Add custom Docker images for monitoring stack
  docker/monitoring/docker-compose.yml
  docker/monitoring/grafana/Dockerfile
  docker/monitoring/loki/Dockerfile
  docker/monitoring/prometheus/Dockerfile
  docker/monitoring/promtail/Dockerfile
Due: none

Include alerts.yml in Prometheus Docker image
  docker/monitoring/prometheus/Dockerfile
Due: none

Fix build contexts for Coolify deployment
  docker/monitoring/docker-compose.yml
Due: none

Change cAdvisor external port to 9080 to avoid conflict
  docker/monitoring/docker-compose.yml
Due: none

Update Grafana/Kuma
  docker/monitoring/docker-compose.yml
  docker/monitoring/grafana/Dockerfile
Due: none

Add Coolify network to Uptime Kuma for internal service access
  docker/monitoring/docker-compose.yml
Due: none

Add health endpoint to web app
  apps/web/src/app/api/health/route.ts
Due: frontend-lint, frontend-typecheck, frontend-format

Frontend fixes
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/src/components/coming-soon/HeroSection.tsx
  pnpm-lock.yaml
  services/api/src/config.py
Due: frontend-lint, frontend-typecheck, frontend-format, ruff-api, ruff-format-api, mypy-api

More fixes
  apps/web/src/components/coming-soon/HeroSection.tsx
  apps/web/src/lib/api.ts
  docker/monitoring/loki/loki-config.yml
  services/api/src/middleware/security_headers.py
Due: frontend-lint, frontend-typecheck, frontend-format, ruff-api, ruff-format-api, mypy-api

Fix monitoring
  docker/monitoring/loki/Dockerfile
  docker/monitoring/prometheus/Dockerfile
  docker/monitoring/promtail/Dockerfile
  docker/monitoring/promtail/promtail-config.yml
Due: none

More fixes
  docker/monitoring/docker-compose.yml
  docker/monitoring/loki/loki-config.yml
  services/api/src/services/email.py
Due: ruff-api, ruff-format-api, mypy-api

Fix stuff
  apps/web/src/app/admin/analytics/growth/page.tsx
  apps/web/src/app/admin/analytics/page.tsx
  apps/web/src/app/admin/analytics/revenue/page.tsx
  apps/web/src/app/admin/analytics/usage/page.tsx
  apps/web/src/app/admin/audit/page.tsx
  apps/web/src/app/admin/compliance/page.tsx
  apps/web/src/app/admin/management/agent-roles/page.tsx
  apps/web/src/app/admin/management/hardware/page.tsx
  apps/web/src/app/admin/management/invitations/page.tsx
  apps/web/src/app/admin/management/marketplace/page.tsx
  apps/web/src/app/admin/management/mcp-servers/page.tsx
  apps/web/src/app/admin/management/models/page.tsx
  apps/web/src/app/admin/management/plans/page.tsx
  apps/web/src/app/admin/management/providers/page.tsx
  apps/web/src/app/admin/management/servers/page.tsx
  apps/web/src/app/admin/management/settings/page.tsx
  apps/web/src/app/admin/management/skills/page.tsx
  apps/web/src/app/admin/management/templates/page.tsx
  apps/web/src/app/admin/management/users/page.tsx
  apps/web/src/app/admin/management/waitlist/page.tsx
  docker/monitoring/loki/loki-config.yml
  services/api/src/services/email.py
Due: frontend-lint, frontend-typecheck, frontend-format, ruff-api, ruff-format-api, mypy-api

Fix health / scripts
  docker/monitoring/docker-compose.yml
  scripts/hetzner/workspace-server-init.sh
Due: none

Fix loki
  docker/monitoring/docker-compose.yml
  docker/monitoring/promtail/Dockerfile
Due: none

Add workspace server TLS configuration design
  docs/plans/2026-01-30-workspace-server-tls-config-design.md
Due: frontend-format

Path conditions:
  frontend-lint: any of: \.(js|jsx|ts|tsx)$
  frontend-typecheck: any of: \.(ts|tsx)$, but not: (__tests__|\.test\.|\.spec\.)
  frontend-format: any of: \.(js|jsx|ts|tsx|json|md)$
  ruff-api: any of: ^services/api/ and \.py$
  ruff-agent: any of: ^services/agent/ and \.py$
  ruff-compute: any of: ^services/compute/ and \.py$
  ruff-shared: any of: ^services/shared/ and \.py$
  ruff-local-pod: any of: ^services/local-pod/ and \.py$
  ruff-format-api: any of: ^services/api/ and \.py$
  ruff-format-agent: any of: ^services/agent/ and \.py$
  ruff-format-compute: any of: ^services/compute/ and \.py$
  ruff-format-shared: any of: ^services/shared/ and \.py$
  ruff-format-local-pod: any of: ^services/local-pod/ and \.py$
  mypy-api: any of: ^services/api/ and \.py$
  mypy-agent: any of: ^services/agent/ and \.py$
  mypy-compute: any of: ^services/compute/ and \.py$
  mypy-shared: any of: ^services/shared/ and \.py$
  mypy-local-pod: any of: ^services/local-pod/ and \.py$
